@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #ff0000;
$orange: #FBCB58;
$orange-invert: findColorInvert($orange);
$custom-colors: ("orange": ($orange, $orange-invert));
// Colors

@import "~bulma/bulma.sass";

.navbar-item.is-mega {
    position: static;
  
    .is-mega-menu-title {
      margin-bottom: 0;
      padding: .375rem 1rem;
    }
  }
  body {
    line-height: 0.5;
  }

